<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <style>
    table, th, td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px;
    }
  </style>
</head>

<body>
  <p>ip address: {{ip}}</p>

  <table>
    <tr>
      <th>Timestamp</th>
      <th>Query</th>
      <th>Answers</th>
    </tr>
    {{#each queries}}
    <tr>
      <td>{{this.query_time}}</td>
      <td>{{this.question}}</td>
      <td>
        <ul>
          {{#each this.answers}}
          <li>{{this}}</li>
          {{/each}}
        </ul>
      </td>
    </tr>
    {{/each}}
  </table>
</body>

</html>
